article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; *zoom:1;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
a { background: transparent; color: #000; outline: none; text-decoration: none; vertical-align: baseline; margin: 0; padding: 0; -webkit-transition: all .3s ease-in; -moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in; transition: all .3s ease-in; }
a:hover { text-decoration: none; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
input, select { vertical-align: middle; }
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; -webkit-border-radius: 0; cursor: pointer; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none;
}
ul{ margin-bottom:0}		
input::-moz-focus-inner {
border:0;
padding:0;
}
input[type="text"], input[type="password"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"] { outline: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -webkit-appearance: none; font-weight: 400; border: none; font-family:Arial, Helvetica, sans-serif; }
input[type="text"]:focus, input[type="password"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus { outline: none; }
textarea { overflow: auto; vertical-align: top; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -webkit-appearance: none; font-weight: 400; border: none }
textarea:focus { outline: none; }
#contact_comment { outline: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -webkit-appearance: none; font-weight: 400; border: none; font-family: Arial, Helvetica, sans-serif; }
#contact_comment:focus { outline: none; }
/*::-webkit-input-placeholder:focus{}
:-moz-placeholder{opacity: 1 !important;}
:-moz-placeholder:focus{color: #000;}
::-moz-placeholder{opacity: 1 !important;}
::-moz-placeholder:focus{ color: #000;}
:-ms-input-placeholder{opacity: 1 !important;}
:-ms-input-placeholder:focus{ color: #000;}*/
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ border: none; display: block; }
* { margin: 0px; padding: 0px; }
nav ul { list-style: none; }
ul { list-style: none; }
strong { font-weight: 700; }
.nopad { padding-bottom: 0px !important; }
em { font-style: italic; }

body { font-size: 16px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: 400; margin: 0px; padding: 0px; text-align: center; line-height: 1; overflow-x: hidden;}
.width100, header, footer, section { float: left; width: 100% !important; }
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
} 

header{float:left; width:100%; background:#ffe500; background-image:url(../images/bg-header.jpg); background-repeat:no-repeat; background-position:right top !important; }
.logo{float:left; width:143px; height:69px; margin:42px 0 32px;}

/*Menu STARTS*/
.menu{ /* margin:65px 0px 0 56px;*/ float:right;}
.dropdown-menu > li > a {padding-left:5px;}
.dropdown-submenu {position:relative;}
.dropdown-submenu>.dropdown-menu {top:0;left:100%; margin-top:-6px;margin-left:-1px; -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu > a:after {border-color: transparent transparent transparent #333; border-style: solid; border-width: 5px 0 5px 5px; content: " "; display: block; float: right; height: 0;    margin-right: -10px; margin-top: 5px; width: 0;}
.dropdown-submenu:hover>a:after {border-left-color:#555;}
.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {text-decoration: underline;}  
.navbar{ min-height:inherit; margin-bottom:0px;}
.navbar-collapse{ padding:0px;}
.navbar-nav{ width:100%;}
.navbar-nav > li{ margin:0 0 14px 15px; float:none; display:inline-block; color:#ea0728; font-weight:bolder;}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link{color:#003bb6;}
.navbar-nav > li:last-child{border-left:#000 solid 1px; padding-left: 15px;}
.navbar-nav > li > a{padding:0; font-size:15px; color:#ec1525; text-transform:none; }





.navbar-expand-lg .navbar-nav .nav-link{color:#ea0728;}
.navbar-nav > li > a:hover, .navbar-nav > li > a.active , .nav > li > a:focus{color:#0039b7; background-color:transparent; }
.navbar-nav > li:first-child{margin-left:0px;}
.navbar-nav > li:last-child{margin-left:0px; border-left:#000 solid 1px;}
.navbar-light .navbar-nav  > .nav-link{}
.dropdown-menu{border-radius:0px; background:rgba(59, 214, 198, 0.7); box-sizing:border-box; padding:8px 0; width:241px; border:none; top:0; margin:57px 0 0!important; border:none; }
.dropdown-menu > li > a{ font-size:18px; color:#235c56; line-height:22px; padding:7px 24px; margin:0; float:left; width:100%; font-weight:500; }
.dropdown-menu > li > a:hover, .dropdown-menu > li.active > a{ color:#fff; text-decoration:none; background:rgba(9, 140, 126, 0.5); text-decoration:none; }
.dropdown-menu > li.active > a:hover{ color:#fff; text-decoration:none; background:rgba(9, 140, 126, 0.5); text-decoration:none;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{ background-color:transparent;     border-top:#3bd6c6 solid 3px;}
@media (max-width: 767px) {
  .navbar-nav  {display: inline;}
  .navbar-default .navbar-brand {display: inline;}
  .navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
  .navbar-default .navbar-nav .dropdown-menu > li > a {color: red; background-color: #ccc; border-radius: 4px; margin-top: 2px;}
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {color: #333;}
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {background-color: #ccc;}
   .navbar-nav .open .dropdown-menu {border-bottom:none; border-radius: 0;}
  .dropdown-menu {padding-left: 10px;}
  .dropdown-menu .dropdown-menu {padding-left: 20px;}
   .dropdown-menu .dropdown-menu .dropdown-menu {padding-left: 30px;}
   li.dropdown.open { border: 0px solid red;}
}
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {display: block;}
  #navbar {text-align: center;}
}  

 /* Add a black background color to the top navigation */
.topnav {
  /* overflow: hidden; */
  margin: -91px 0 0 210px;
}

.topnav a {
  float: left;
  display: block;
  color: #ec1d24;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  
  color: #034ea1;
}

.topnav a.active {
   color: #034ea1;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 767px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.eot?7038226');
      src: url('../fonts/fontello.eot?7038226#iefix') format('embedded-opentype'),
           url('../fonts/fontello.woff?7038226') format('woff'),
           url('../fonts/fontello.ttf?7038226') format('truetype'),
           url('../fonts/fontello.svg?7038226#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}
.demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
/*Menu End*/
.banner{float:left; width:100%; background:url(../images/banner.jpg) no-repeat right top; background-size:cover; border-bottom:#ffe500 solid 93px; position:relative; height: 534px;}
.banner.aboutbn{float:left; width:100%; background:url(../images/about_head.jpg) no-repeat right top; background-size:cover; border-bottom:#ffe500 solid 50px; position:relative; height: 534px;opacity: 0.9;}
.txt-banner{font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; line-height: 70px;float:left; margin:120px 0 0; color:#fff; /*font-weight:bolder;*/ font-size:65px; text-align:left; z-index:1000; width: 70%;}
.banner a{float:left; height:79px; background:#ffe500; color:#333; font-size:30px; font-weight:700; margin:39px 0 196px; padding: 16px 33px;}
.banner-img{float:right; position:absolute; top:0;}
.content{float:left; width:100%;}
.content h1{float:left; width:100%; color:#333333; text-align:center; margin: 100px 16px 100px; font-weight: 400; font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;}
.box{float: left; width: 100%; text-align: center; height: 350px; padding:44px 0 0; margin-bottom:25px;}
.box img{display:inline-block;}
.r{background-color:#ec1c23;}
.b{background-color:#034ea1;}
.wrapper{ float:left; width:100%;
background: #034ea1;
background: -moz-linear-gradient(left,  #034ea1 0%, #034ea1 30%, #f2f2f2 30%, #f2f2f2 100%);
background: -webkit-linear-gradient(left,  #034ea1 0%,#034ea1 30%,#f2f2f2 30%,#f2f2f2 100%); 
background: linear-gradient(to right,  #034ea1 0%,#034ea1 30%,#f2f2f2 30%,#f2f2f2 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034ea1', endColorstr='#f2f2f2',GradientType=1 ); 
}
.img-wrapper{float:left; margin:72px 0 77px;}
.img-wrapper img{float:left;}
.wrapper h1{float:left; width:70%; font-size:60px; text-transform:uppercase; color:#333; font-weight:600; text-align:left; margin:166px 0 0 90px; font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;}
.wrapper a{float:left; background:#034ea1; color:#fff; font-size:30px; font-weight:700; padding:15px 10px; margin-left:94px; margin-top:65px; text-decoration: none !important;} 

.container-sales h1{font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; float:left; font-size:50px; color:#333; font-weight:400; text-align:center; width:100%; margin:130px 0 70px;}
.bg-container-sales{float:left; width:100%; background:url(../images/container-sales.jpg) no-repeat; background-size:cover; }
.cont-b{background-color: rgba(3, 78, 161, 0.8); padding:319px 0 300px; float:left;}
.container-border{float:left; width:100%; background:url(../images/container-border.png) no-repeat center  top;}
.container-border h3{font-size: 70px; color: #fff; top: -34px; position: relative; font-weight: 700;}
.container-border h3::after{float:left; width:82px; height:5px; background:#ffe216; content: ""; position: absolute; top: 90px; left: 0;
right: 0;
margin: 0 auto;} 
.container-border p{float:left; width:100%; text-align:center; color:#fff; font-size:20px; margin-top: -25px;}
.container-border h2{float:left; width:100%; text-align:center; color:#fff; font-weight:900; font-size:45px; margin:0 0 30px;}
.txt-center{float:left; width:100%; text-align:center; line-height: 16px !important;}
.cont-r{background-color: rgba(236, 28, 36, 0.8); padding:319px 0 300px; float:left;}

.bg-req{float:left; width:100%; background:#333333; padding:50px 0;}
.bg-req-l{float:left; width:100%; border-right:#efd618 solid 3px;}
.bg-req-l p{float:left; width:100%; color:#fff; font-size:17px; padding:0 214px 0 0; line-height:30px; text-align:left;}
.bg-req a{float:left; color:#ffdf17; font-size:30px; font-weight:900; margin-top:30px; line-height: 70px;}
.bg-req a .demo-icon{color:#fff; font-size:50px; padding-top: 13px; float: left; left: -18px; position: relative;}
.bg-req-r{float:left; width:100%; padding-left:100px;	}
.bg-req-r{float:left; width:100%; color:#fff; font-size:17px; padding: 0 100px 0 134px; line-height:30px; text-align:left;}
.bg-req-r p{float:left; width:100%;}

.conversions{float:left; width:100%;}
.conversions h1{float:left; width:100%; margin-top:150px;  color:#333; font-size:60px; font-weight:700;}
.bg-conversions{float:left; width:100%; background:url(../images/bg-conversions.jpg) no-repeat top left; background-size:cover; text-align:center; margin-top:93px; padding:150px 0 100px;}
.img-conversions{width:177px; height:177px; background:url(../images/img-conversions.png) no-repeat top center; float:none; display:inline-block;}
.conversions h3{float:left; width:100%; margin-top:150px;  color:#333; font-size:30px; font-weight:700;}
.bg-conversions h3{float:left; width:100%; margin-top:90px;  color:#fff; font-size:40px; font-weight:700;}
.but-conversion{float:left; width:100%; margin: 100px 0 0; }
.but-get-conversion{padding:20px; background:#ffdf17; font-size:20px; color:#333; font-weight:700; margin-right:30px;}
.but-opt-conversion{padding:20px; background:#333; font-size:20px; color:#ffdf17; font-weight:700; margin-left:30px;}

.map{float:left; width:100%; background:#333; /*margin-top:100px;*/ font-size:200px; text-transform:uppercase; color:#ffdf17; font-weight:700; /*padding:50px 0;*/}

.contact{float:left; width:100%; background:#f2f2f0; padding:150px 0 0;}
.contact_f{float:left; width:100%; background:#f2f2f0; /* padding:150px 0 0; */}
.contact h3{float:left; width:100%; text-align:left; font-size:40px; color:#333; font-weight:bold; margin-bottom:80px;}
.contact input[type="text"]{float:left; width:100%; height:60px; padding:0 0 0 30px;background: #ffffff;}
.contact input[type="text"]:first-child{margin-bottom:20px;}
.contact textarea{float:left; margin-left:30px; width:677px; height:141px; padding:30px;background: #ffffff;}
.contact p{float:left; color:#9c9c9b; font-size:17px; padding-left:30px; /*margin:41px 0 0;*/ font-weight:500; }
.contact-button{float:right; background:#999 !important; color:#2b2b2b !important; padding: 20px 70px !important; font-size:20px !important; font-weight:700 !important; /*margin: -45px 70px 0 0px !important;*/
    border: none;
}
.contact h4{ float: left;
width: 100%;
text-align: left;
font-size: 20px;
color: #326aaf !important;
font-weight: bold;
margin-bottom: 20px; }
.contact_f h4{ float: left;
width: 100%;
text-align: left;
font-size: 20px;
color: #326aaf !important;
font-weight: bold;
margin-bottom: 20px; }
.contact a{float: left;
width: 100% !important;
text-align: left;
font-size: 15px;
color: #373737 !important;
margin-bottom: 10px;
width:100%;
text-decoration: none !important;
}
.contact_f a{float: left;
width: 100% !important;
text-align: left;
font-size: 15px;
color: #373737 !important;
margin-bottom: 10px;
width:100%;
text-decoration: none !important;
}
.bot-fotter{float:left; width:100%; /*margin:100px 0 30px;*/}
.rcfullw{width: 100%;}

.box.r.b1 {background: url(../images/box1.png) #ff0000 no-repeat center center; transition:background-image 0.2s ease-in-out;}
.box.b.b2 {background: url(../images/box2.png) #034ea1 no-repeat center center; transition:background-image 0.2s ease-in-out;}
.box.b.b3 {background: url(../images/box4.png) #034ea1 no-repeat center center; transition:background-image 0.2s ease-in-out;}
.box.r.b4 {background: url(../images/box3.png) #ff0000 no-repeat center center; transition:background-image 0.2s ease-in-out;}

.rcbx1_text {
    display: none;
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    padding: 2em;
}
.rcbx1_text a{
    width: 100%;
    font-size: 45px;
    text-align: center;
    text-decoration: none !important;
    color: #ffffff;
    font-weight: 900;
    /*padding: 2em;*/
}
.rcbx2_text {
    display: none;
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    padding: 2em;
}
.rcbx2_text a{
    width: 100%;
    font-size: 45px;
    text-align: center;
    text-decoration: none !important;
    color: #ffffff;
    font-weight: 900;
    /*padding: 2em;*/
}
.rcbx3_text {
    display: none;
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    padding: 2em;
}
.rcbx3_text a{
    width: 100%;
    font-size: 45px;
    text-align: center;
    text-decoration: none !important;
    color: #ffffff;
    font-weight: 900;
    /*padding: 2em;*/
}
.rcbx4_text {
    display: none;
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    padding: 2em;
}
.rcbx4_text a{
    width: 100%;
    font-size: 45px;
    text-align: center;
    text-decoration: none !important;
    color: #ffffff;
    font-weight: 900;
    /*padding: 2em;*/
}
.box.r.b1:hover {background: url(../images/box1_hover.png) #ff0000 no-repeat center center; cursor: pointer; transition:background-image 0.2s ease-in-out;}
.box.r.b1:hover .rcbx1_text{display: block;}

.box.b.b2:hover {background: url(../images/box2_hover.png) #034ea1 no-repeat center center; cursor: pointer; transition:background-image 0.2s ease-in-out;}
.box.b.b2:hover .rcbx2_text{display: block;}

.box.b.b3:hover {background: url(../images/box4_a_hover.png) #034ea1 no-repeat center center; cursor: pointer; transition:background-image 0.2s ease-in-out;}
.box.b.b3:hover .rcbx3_text{display: block;}

.box.r.b4:hover {background: url(../images/box3_hover.png) #ff0000 no-repeat center center; cursor: pointer; transition:background-image 0.2s ease-in-out;}
.box.r.b4:hover .rcbx4_text{display: block;}

.banner.aboutbn a{float:left; height:79px; background:#034ea1; color:#fff; font-size:30px; font-weight:700; margin:39px 0 196px; padding: 16px 33px; margin-right: 6em;}
.banner.aboutbn .txt-banner{width: 77%;}

.wrapper.abtus { 
	float: left;
    width: 100%;
    background: #034ea1;
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 70%, #ff0000 30%, #ff0000 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 70%,#ff0000 30%,#ff0000 100%);
    background: linear-gradient(to right, #ffffff 0%,#ffffff 70%,#ff0000 30%,#ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff0000',GradientType=1; );
}

.wrapper.abtus h1 {
    text-transform: none;
    font-size: 50px;
    /*margin: 69px 0 0 0px;*/
    margin: 0px 0 0 0px;
    width: 100%;
}

.wrapper.abtus p {
    display: block;
    float: left;
    text-align: justify;
    padding-top: 4em;
    width: 85%;
    line-height: 1.8em;
    color: #000;
}

.wrapper.abtexcl{
	background: -webkit-linear-gradient(left, #034ea1 0%,#034ea1 30%,#f2f2f2 30%,#f2f2f2 100%);
    background: linear-gradient(to right, #034ea1 0%,#034ea1 30%,#ffffff 30%,#ffffff 100%);
    margin-top: 9em;
    margin-bottom: 9em;
}

.wrapper.abtexcl h1 {
    text-transform: none;
    font-size: 50px;
    /*margin: 69px 0 0 41px;*/
    margin: 0px 0 0 0px;
}

.wrapper.abtexcl p {
    display: block;
    float: left;
    text-align: justify;
    padding-top: 4em;
    width: 85%;
    line-height: 1.8em;
    color: #000;
    padding-left: 3em;
}
.bg-req.abtbg{float:left; width:100%; background:#ffe500; padding:50px 0; color: #000000; display: none;}
.bg-req.abtbg p{color: #000000;}
.bg-req.abtbg a{text-decoration: none !important; color: #034ea1 !important;}
.bg-req.abtbg a .demo-icon{text-decoration: none !important; color: #034ea1 !important;}
.bg-req.abtbg .bg-req-r p{padding-left: 8em;line-height: 30px;}

.content-area, .widget-area, .site-main, .hentry{margin-bottom: 0 !important;}



.bg-req.rccont{background: #034ea1;}
b.cnts_title {
    font-size: 1.3em;
    color: #bdbdbd;
}
a.cnts {
    margin: 0;
    font-size: 1em;
    line-height: unset;
    color: #fff;
    text-decoration: none !important;
    font-weight: unset;
}

.cntinner textarea{margin-left:0px;}
#chkmocop {
    padding-left: 0;
    padding-top: 1em;
    width: 100%;
    text-align: left;
}
.cntbtn{text-align: left; padding-left: 0px !important;}
.cntbtn input {
    margin-left: 0px !important;
    margin-bottom: 3em !important;
}

.banner.contheadbg{float:left; width:100%; background:url(../images/contact_head.jpg) no-repeat right top; background-size:cover; border-bottom:#ffe500 solid 50px; position:relative; height: 534px;opacity: 0.9;}
.banner.contheadbg a{margin-right: 3em;}
a.rcbgblue {
    background: #034ea1;
    color: #fff;
}

.banner.convheadbg{float:left; width:100%; background:url(../images/conversion_head.jpg) no-repeat right top; background-size:cover; border-bottom:#ffe500 solid 50px; position:relative; height: 534px;opacity: 0.9;}
.rcconvlink{width: 31%;}
.contact.convrs h3{text-align: center;margin-bottom: 60px;}
.contact.convrs p{text-align: center; color: #000000; padding: 0 14em;}
p.conv_text2 {
    padding: 0 !important;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    color: #034ea1 !important;
}
span.conv_arrow {
    text-align: center !important;
    display: block;
    float: left;
    width: 100%;
    padding: 0px 47%;
}
.convbox {
    display: block;
    float: left;
    width: 18%;
    margin: 0.5em;
    padding: 3.7rem;
    height: 230px;
    padding-top: 6em;
    color: #ffffff;
    font-weight: 600;
}
.convbox.rd{
	background: #ff0000;
}
.convbox.bl{
	background: #034ea1;
}
.banner.rentheadbg{float:left; width:100%; background:url(../images/rental_head.jpg) no-repeat right top; background-size:cover; border-bottom:#ffe500 solid 50px; position:relative; height: 534px;opacity: 0.9;}
section.contact.rentinner{background: #333333;color: #ffffff; padding: 70px 0 0;}
.contact.rentinner h3 {
    color: #ffe500;
    border-bottom: #ffffff 2px solid;
    line-height: 2em;
    width: 50%;
}

span.rnt_title {
    display: block;
    float: left;
    width: 100%;
    text-align: left;
    color: #ffe500;
    font-size: 1.6em;
    font-weight: 600;
}
.rcchxbx{text-align: left !important;padding: 0 !important;}
.rcchxbx input[type='checkbox'], input[type='radio']{
	width: 2em;
    height: 2em;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 3px;
    overflow: hidden;
}
.rcchxbx label {
    font-size: 1.1em;
    font-weight: 600;
}
.rctopmrg{margin-top: 2em;}

.rcchxbx select{width: 22em; height: 3em; padding: 0; margin: 0; vertical-align: bottom; position: relative; top: 3px; overflow: hidden;}
.rcchxbx input[type='radio'] + label {margin-right: 2em;}
.rcchxbx input[type="submit"]{margin: 0 !important; background: #ffe500 !important; padding: 16px 70px !important; text-transform: uppercase; font-size: 1.3em !important;}
p.rntsubmit {padding-left: 0;}

.banner.salesheadbg{float:left; width:100%; background:url(../images/sale_head.jpg) no-repeat right top; background-size:cover; border-bottom:#ffe500 solid 50px; position:relative; height: 534px;opacity: 0.9;}

.rc_payfunction {
    display: block;
    float: left;
    width: 100%;
    padding: 5em;
}

.rc_textinput{
    display: inline-block;
    padding: 3px;
    width: 100%;
    text-align: left;
}

.rc_textinput label{
    font-size: 1.2em;
    font-weight: 600;
    padding-right: 2em;
}

.rc_textinput input{
    background: #ffffff !important;
    width: 42% !important;
    border-image: unset !important;
    border-bottom: 1px solid !important;
}
.product {
    padding: 2.5em;
}
.rc_location{
  width: 87%;
}
.rc_datetime{
  width: 45% !important;
}
.rc_abt_align {
    display: block;
    float: left;
    width: 65%;
    text-align: justify;
    padding-top: 2em;
}
button.moco_minus {
    background: #ff0000;
    color: #fff;
    height: 38px;
    border: 0px !important;
    padding-top: 0.36em;
}
button.moco_plus{
    background: #ff0000;
    color: #fff;
    height: 38px;
    border: 0px !important;
    padding-top: 0.36em;
}
.main-navigation ul.menu > li.menu-item-has-children > a::after, .main-navigation ul.menu > li.page_item_has_children > a::after,
  .main-navigation ul.nav-menu > li.menu-item-has-children > a::after,
  .main-navigation ul.nav-menu > li.page_item_has_children > a::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    line-height: inherit;
    vertical-align: baseline;
    content: "\f107";
    margin-left: 0.5em;}


@media(max-width: 992px){
  .main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a{
    width: 100%;
  }
  .main-navigation ul.menu > li{
    display: block;
  }
  .main-navigation ul.menu, .main-navigation ul.nav-menu{
    float: initial;
    margin-left: 0 !important;
  }
  .primary-navigation{
    background: #fff;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100% ;
    padding: 15px 0 15px 15px;
  }
  .main-navigation ul ul, .secondary-navigation ul ul{
    position: initial !important;
    display: none !important;
  }
  ul.sub-menu.show-child-menu {
    display: grid!important;
    width: 100%;
    margin-left: 0 !important;
    padding-left: 20px;
    background-color: #f0d600;
  }
  ul.sub-menu.show-child-menu a, .main-navigation ul.menu{
    width: 100%;
    top: 0;
  }
  .main-navigation ul.menu > li.menu-item-has-children > a::after, .main-navigation ul.menu > li.page_item_has_children > a::after,
  .main-navigation ul.nav-menu > li.menu-item-has-children > a::after,
  .main-navigation ul.nav-menu > li.page_item_has_children > a::after{
    right: 20px;
    position: absolute;
  }
}
@media(max-width: 576px){
  .main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
    padding: 10px 20px !important;
  }
  ul.sub-menu.show-child-menu a, .main-navigation ul.menu {
    top: 10px;
  }
}